<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%  block title %}
        {%  endblock  %}
    </title>
    {%  block css %}
    {%  endblock  %}

    {% block images %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

{% block seeUserInfo %}
{% endblock %}


{% block loginlogs %}
{% endblock %}

{% block wechat %}
{% endblock %}

{% block developing %}
{% endblock %}


{% block item %}
{% endblock %}


{% block endjs %}
{% endblock %}

</body>
</html>